.x-datepicker .x-monthpicker-buttons {
    position: absolute;
}
.x-mask {
    background: #333333 !important;
}
.x-monthpicker-buttons {
    position: relative;
}
.x-tab-default-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}